<!DOCTYPE html>
<!-- DEVELOP -->
<html lang="{{ lang or 'en' }}">
    <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>

    <link href="{{ globals.assetsRoot }}/css/style.css" rel="stylesheet" />
    <style>
        .all
        {%- for tag in app.progamsServicesFromCSV.tags -%}
        {%- if tag != '' -%}
            , .{{ app.progamsServicesFromCSV.cssTags[tag] }} .filter-item.{{ app.progamsServicesFromCSV.cssTags[tag] }}
        {%- endif -%}
        {%- endfor %} { display: block; }
    </style>
    {% include "core/_favicons.njk" %}
    {% include "app/_head_custom.njk" %}
    </head>
    <body>

    {% include "core/_icon_definitions.njk" %}
    {% include "core/_header.njk" %}

    {% include "app/_hero.njk" %}
    {% include "app/components/search-programs-and-services.njk" %}
    

    <div class="maincontent__container">{{ content | safe }}</div>
    
    {% include "core/_footer.njk" %}

    <script src="{{ globals.assetsRoot }}/vendor/programsServicesFilters.js"></script>
    </body>
</html>
