{# formerly 'globals', set here for use by templates #}
{% set templateGlobals =
{
    assetsRoot: app["app-globals"].assetsPath,
    designSystemRoot: app["app-globals"].assetsPath + core["core-globals"].designSystemPath,
    useApplicationHeader: app["app-globals"].useApplicationHeader,
    footerType: core["core-globals"].allowedFooterTypes[app["app-globals"].footerType],
    env: core["core-globals"].env
}
%}
<!DOCTYPE html>
<!-- DEVELOP -->
<html lang="{{ lang or 'en' }}">
    <head>
    {% include "core/organisms/_head.njk" %}
<!--
    <meta charset="utf-8" />
    <title>{{ title }}</title>

    <link href="{{ globals.assetsRoot }}/css/style.css" rel="stylesheet" />
 -->
    <style>
        .all
        {%- for tag in app.progamsServicesFromCSV.tags -%}
        {%- if tag != '' -%}
            , .{{ app.progamsServicesFromCSV.cssTags[tag] }} .filter-item.{{ app.progamsServicesFromCSV.cssTags[tag] }}
        {%- endif -%}
        {%- endfor %} { display: block; }
    </style>
<!--
    {% include "core/_favicons.njk" %}
    {% include "app/_head_custom.njk" %}
 -->
    </head>
    <body>
    {# Tag Manager should be first element in body #}
    {% include "core/atoms/_google_tag_manager_noscript.njk" %}
    {% include "core/atoms/_skip_to_main.njk" %}
    {% include "core/atoms/_ontario_icon_svgs.njk" %}
    {% include "core/templates/_header.njk" %}
    {% include "core/molecules/_ontarioca_breadcrumbs.njk" %}


    {# {% include "app/_hero.njk" %} #}
    {% include "app/components/search-programs-and-services.njk" %}


    <div class="maincontent__container">{{ content | safe }}</div>


    <script defer src="{{ globals.assetsRoot }}/js/app/ontario-expand-collapse.js"></script>

    <footer class="ontario-footer ontario-footer--expanded">
      <div class="ontario-footer__expanded-top-section">
        {% include "app/_footer_expanded_content.njk" %}
      </div>
      <div class="ontario-row ontario-footer__expanded-bottom-section">
        <div class="ontario-columns ontario-small-12">
          {% include "app/_footer_standard_links.njk" %}
        </div>
      </div>
    </footer>
    {% include "core/atoms/_back_to_top_button.njk" %}
    </body>
</html>
