    <div class='ontario-accordions__container ontario-margin-bottom-80'>
        <div class='ontario-accordion' id='accordion-1'>
            <h3 class='ontario-accordion-heading'`>
                <button style="align-items:center;" class='ontario-accordion__button' id='accordion-button-id-1'
                        aria-controls='accordion-content-1' aria-expanded='false' data-toggle='ontario-collapse'>
                    <span class='ontario-accordion__button-icon--close'>
                        <!-- Use an appropriate icon for "close" state -->
                        <svg class="ontario-icon" alt="" aria-hidden="true" focusable="false" sol:category="primary">
                            <use href="#ontario-icon-chevron-up"></use>
                        </svg> 
                    </span>
                    <span class='ontario-accordion__button-icon--open'>
                        <!-- Use an appropriate icon for "open" state -->
                        <svg class="ontario-icon" alt="" aria-hidden="true" focusable="false" sol:category="primary">
                            <use href="#ontario-icon-chevron-down"></use>
                        </svg> 
                    </span>
                    <div class="categories-column">
                        <h5>{{ "categoriesFilter.title" | localeString }}</h5>
                    </div>
                </button>
            </h3>
            <section class='ontario-accordion__content' id='accordion-content-1'
                    aria-labelledby='accordion-button-id-1' aria-hidden='true' data-toggle='ontario-expander-content'>
                <div id="filter-progams-and-services" class="ontario-form-group" style="margin-bottom: 0px;">
                    <fieldset class="ontario-fieldset">
                        <div class="ontario-checkboxes">
                            {% for item in filterCategories %}
                                <div class="ontario-checkboxes__item">
                                    <input class="ontario-checkboxes__input filter-item" id="category-{{ loop.index }}"
                                            x-model="categoryCheckboxes['{{item}}']"
                                            name="options" type="checkbox">
                                    <label class="ontario-checkboxes__label" for="category-{{ loop.index }}">{{ item }}</label>  
                                </div>
                            {% endfor %}
                            <br> 
                        </div>
                    </fieldset> 
                 <!-- Add the "Apply filter" and "Clear all filters" button below the category checkboxes -->
                   <div class="button-container" style="display: flow-root">
                    <button class="ontario-button ontario-button--primary" x-on:click="applyFilters()" style="float: left; width: fit-content; margin-right: 24px;">{{ "accordionButtons.applyFilters" | localeString }}</button>
                    <button class="ontario-button ontario-button--secondary" x-show="showClearAll" x-on:click="clearCategories()" style="float: left; width: fit-content;" >{{ "accordionButtons.clearAllFilters" | localeString }}</button>
                    </div>
                </div>
            </section>
        </div>
    </div>

<script defer>
function handleOrientationChange(evt) {
  if (evt.matches) {
    var button=document.querySelector("#accordion-button-id-1");
    button.click();
  }
}

addEventListener("load", function () {
  const mediaQueryList = window.matchMedia("(min-width: 640px)");
  handleOrientationChange(mediaQueryList);
});
</script>
