<div class="ontario-column ontario-medium-4">
            <!-- <div id="filter-progams-and-services" class="ontario-form-group"> -->
            <h4>Filter</h4>
            <div class='ontario-accordions__container'>
                <div class='ontario-accordion__controls'>
                    <button class='ontario-accordion__button--expand-all' aria-expanded='false'>
                        <span class='ontario-accordion--expand-open-all'>Expand all</span>
                        <span class='ontario-accordion--expand-close-all'>Collapse all</span>
                    </button>
                </div>
                <div class='ontario-accordion' id='accordion-1'>
                    <h3 class='ontario-accordion-heading'>
                        <button class='ontario-accordion__button' id='accordion-button-id-1'
                            aria-controls='accordion-content-1' aria-expanded='false' data-toggle='ontario-collapse'>
                            <span class='ontario-accordion__button-icon--close'>
                                <svg class="ontario-icon" alt="" aria-hidden="true" focusable="false"
                                    sol:category="primary" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
                                    <use href="#ontario-icon-chevron-up"></use>
                                </svg>
                            </span>
                            <span class='ontario-accordion__button-icon--open'>
                                <svg class="ontario-icon" alt="" aria-hidden="true" focusable="false"
                                    sol:category="primary" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
                                    <use href="#ontario-icon-chevron-down"></use>
                                </svg>
                            </span>
                            Categories
                        </button>
                    </h3>
                    <section class='ontario-accordion__content' id='accordion-content-1'
                        aria-labelledby='accordion-button-id-1' aria-hidden='true'
                        data-toggle='ontario-expander-content'>
                        <div id="filter-progams-and-services" class="ontario-form-group">
                            <fieldset class="ontario-fieldset">
                                <div class="ontario-checkboxes">
                                    <div class="ontario-checkboxes__item">
                                        <input class="ontario-checkboxes__input filter-item" id="filter-1"
                                            name="options" type="checkbox" value="filter-1">
                                        <label class="ontario-checkboxes__label" for="filter-1">Home and housing</label>
                                    </div>
                                    <div class="ontario-checkboxes__item">
                                        <input class="ontario-checkboxes__input filter-item" id="filter-2"
                                            name="options" type="checkbox" value="filter-2">
                                        <label class="ontario-checkboxes__label" for="filter-2">Health and
                                            well-being</label>
                                    </div>
                                    <div class="ontario-checkboxes__item">
                                        <input class="ontario-checkboxes__input filter-item" id="filter-3"
                                            name="options" type="checkbox" value="filter-3">
                                        <label class="ontario-checkboxes__label" for="filter-3">Caregiving</label>
                                    </div>
                                    <div class="ontario-checkboxes__item">
                                        <input class="ontario-checkboxes__input filter-item" id="filter-4"
                                            name="options" type="checkbox" value="filter-4">
                                        <label class="ontario-checkboxes__label" for="filter-4">Recreation</label>
                                    </div>
                                    <div class="ontario-checkboxes__item">
                                        <input class="ontario-checkboxes__input filter-item" id="filter-5"
                                            name="options" type="checkbox" value="filter-5">
                                        <label class="ontario-checkboxes__label" for="filter-5">Safety and
                                            Security</label>
                                    </div>
                                    <div class="ontario-checkboxes__item">
                                        <input class="ontario-checkboxes__input filter-item" id="filter-6"
                                            name="options" type="checkbox" value="filter-6">
                                        <label class="ontario-checkboxes__label" for="filter-6">Finances</label>
                                    </div>
                                    <div class="ontario-checkboxes__item">
                                        <input class="ontario-checkboxes__input filter-item" id="filter-7"
                                            name="options" type="checkbox" value="filter-7">
                                        <label class="ontario-checkboxes__label" for="filter-7">Employment and
                                            Learning</label>
                                    </div>
                                    <div class="ontario-checkboxes__item">
                                        <input class="ontario-checkboxes__input filter-item" id="filter-8"
                                            name="options" type="checkbox" value="filter-8">
                                        <label class="ontario-checkboxes__label" for="filter-8">Driving and
                                            transportation</label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </section>
                </div>
            </div>
        </div>