<div class="ontario-row">
    <div class="ontario-columns ontario-small-12 ontario-medium-6">
        <p class="ontario-h4">{{ 'expandedFooter.ministryForSeniorsAndAccessibility' | localeString | safe}}</p>
        <p>{{ 'expandedFooter.ministryForSeniorsAndAccessibilityDescription' | localeString | safe }}</p>
    </div>
    <div class="ontario-columns ontario-small-12 ontario-medium-6">
        <h2 class="ontario-h4">{{ 'expandedFooter.questionsOrComments' | localeString }}</h2>
        <p>{{ 'expandedFooter.contactUsDescription' | localeString | safe }} </p>
        <a class="ontario-footer__button ontario-button ontario-margin-bottom-0-!" href="{{ 'expandedFooter.contactUsUrl' | localeString }}">{{ 'expandedFooter.contactUsButton' | localeString }}</a>
    </div>
</div>
