{# Include any custom tags for the <head></head> portion of the layout here. #}
<script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.js"></script>
<script>
  // This data is set through eleventy, and consumed by alpinejs
  var pageLanguage = {{ ( lang if lang else "en" ) | dump | safe }};
  var pageData = {{ app.progamsServicesFromCSV.seniorsContent[lang if lang else "en"] | dump | safe }};
</script>

<script>
    window.dataLayer = window.dataLayer || [];
</script>

{# This code snippet should fire every time a search is completed: #}
<script>
      function pushSearchToDataLayer() {
            let searchTerm = document.getElementById('q').value;
            window.dataLayer.push({
                  'event': 'product_search',
                  'product_name': 'seniors find programs and services',
                  'search_term': searchTerm 
            });
      }
</script>
