{# Include any custom tags for the <head></head> portion of the layout here. #}
<script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.js"></script>
<script>
  // This data is set through eleventy, and consumed by alpinejs
  var pageLanguage = {{ ( lang if lang else "en" ) | dump | safe }};
  var pageData = {{ app.progamsServicesFromCSV.seniorsContent[lang if lang else "en"] | dump | safe }};
</script>
