<div class="ontario-column ontario-small-12">
    <div x-show="results.length === 0">
        <p>{{ 'seniors.programsAndServicesComponent.noResults' | localeString | safe }}</p>
    </div>

    <div x-show="results.length > 0" class="results-panel">
        <div class="total-results"> 
            <template x-if="results.length > 0">
                <h2 x-text="results.length + ' ' + (results.length === 1 ? 'Result' : 'Total Results') + ' for &quot;' + searchTerm  + '&quot;' "></h2>
            </template>
        </div>
        <div>
            <br>
            <template x-for="result in results">
                <div>
                    <div class="result-item">
                        <a style="text-decoration:none; font-size: 24px" x-bind:href="result['Resource URL']">
                            <strong x-text="result['Resource title']"></strong>
                        </a>
                        <template x-if="result['Internal/External'] === 'External'">
                            <a class="new-window" x-bind:href="result['Resource URL']"></a>
                        </template>
                    </div>
                    <div style="font-size:16px" x-html="result['Resource Description']"></div>
                </div>
            </template>
        </div>
    </div>
</div>
