<div class="ontario-column ontario-small-12">
    <div x-show="results.length === 0 " x-data="{ noResultFound: false }">
        <template x-if="lastSearchTerm !== ''">
            <script>
                this.noResultFound = true;
            </script>
        </template>
    </div>
    <div class="no-results" x-show="noResultFound">
        <h3>No results found for <span x-text="lastSearchTerm"></span></h3>
        <ul>
            <template x-for="item in ['try searching more than 2 characters (only when 1-2 characters entered)', 'check the spelling of your keyword/ alt check for spelling errors', 'try alternate words or selections']">
                <li>
                    <span x-html="item.replace(/alt /g, '<strong>alt </strong>')"></span>
                </li>
            </template>
        </ul>
        <h3>Find programs and services by category</h3>
        <ul class="two-column-list">
            <template x-for="category in ['Home and housing','Health and well-being','Caregiving','Recreation',
                            'Safety and security','Finances','Employment and learning','Driving and transportation']">
                <li>
                    <a href="#" x-on:click="categoryClicked(category)">
                        <span x-text="category"></span>
                    </a>
                </li>
            </template>
        </ul>
    </div>
    <div class="total-results">
        <template x-if="lastSearchTerm === ''">
            <template x-if="results.length > 0">
                <h2 x-text="results.length + ' ' + (results.length === 1 ? 'result' : 'total results') "></h2>
            </template>
        </template>
        <template x-if="!(lastSearchTerm === '')">
            <template x-if="results.length > 0">
                <h2 x-text="results.length + ' ' + (results.length === 1 ? 'result' : 'total results') + ' for &quot;' + lastSearchTerm  + '&quot;' "></h2>
            </template>
        </template>
        <br>
        <div>
            <template x-for="result in results">
                <div>
                    <div class="result-item">
                        <a style="text-decoration:none; font-size: 24px" x-bind:href="result['Resource URL']">
                            <strong x-text="result['Resource title']"></strong>
                        </a>
                        <template x-if="result['Internal/External'] === 'External'">
                            <a class="new-window" x-bind:href="result['Resource URL']"></a>
                        </template>
                        <hr>
                    </div>
                    <div style="font-size:16px" x-html="result['Resource Description']"></div>
                </div>
            </template>
        </div>
    </div>
</div>
