<div class="ontario-row maincontent__container">
    <div class="ontario-column ontario-small-12">
        <form name="searchForm" id="search-example-2-form" class="ontario-search__container" novalidate @submit.prevent="submit()">
            <h5>Find programs and services</h5>
            <p style="font-size:15px; padding-bottom:5px;" id="search-example-2-hint" class="ontario-hint">Enter a topic like "power of attorney" or "driver's licence."</p>
            <div id="error-message" style="color: red;" x-show="showErrorMessage">Search cannot be empty</div>
            <div class="ontario-search-input__container">
                <input type="text" name="q" id="search-text" class="ontario-input" x-model:value="searchTerm"/>
                <input class="ontario-search__reset" id="ontario-search-reset" type="reset" value="" aria-label="Clear field" x-on:click="clearSearchFilters()" x-show="searchTerm.length > 0"/>
                <button class="ontario-search__submit" id="ontario-search-submit" type="submit">
                    <span class="ontario-show-for-sr">Submit</span>
                    <svg class="ontario-icon" focusable="false" sol:category="primary" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
                        <use xlink:href="#ontario-icon-search"></use>
                    </svg>
                </button>
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('search', () => ({
            searchTerm: "",
            lastSearchTerm: "",
            results: [],
            categoryCheckboxes: {},
            categories: [],
            showErrorMessage: false,

            init() {
                // This runs first at page load, when alpine.js initializes the data store.

                // Initialize Fuse.
                let data = {{ app.progamsServicesFromCSV.seniorsContent | dump | safe }};
                let options = {
                    keys: ['Resource title',
                    'Resource Description'],
                    includeScore: true
                };
                this.fuse = new Fuse(data, options);

                // Load search state, if we have any.
                this.loadSearchState();

                // Also, listen for navigation events.  If the user hits forwards or back, rebuild our state.
                addEventListener("popstate", (event) => {
                    this.loadSearchState();
                });
            },

            saveSearchState() {
                const params = new URLSearchParams();
                if (this.searchTerm) {
                    params.append('q', this.searchTerm);
                }
                this.categories.forEach(category => {
                    params.append('category', category);
                })

                history.pushState({}, '', `${window.location.pathname}?${params.toString()}`);
            },

            loadSearchState() {
                const params = new URLSearchParams(window.location.search);
                this.searchTerm = params.get('q') || '';

                this.categories = params.getAll('category');
                this.updateCheckboxes();

                // We have our state.  Update the page accordingly.
                this.doSearch();
            },

            updateCategories() {
                this.categories = Object.entries(this.categoryCheckboxes)
                    .map(([k,v]) => v ? k : undefined)
                    .filter(v => v);
            },

            updateCheckboxes() {
                // Set checked boxes.
                for(const category of this.categories) {
                    this.categoryCheckboxes[category] = true;
                };
                // Go through all other checkboxes, and clear any unset categories.
                for(const category of Object.keys(this.categoryCheckboxes)) {
                    if(!this.categories.includes(category)) {
                        this.categoryCheckboxes[category] = false;
                    }
                };
            },

            doSearch() {
                // Execute the actual search.
                // This updates this.results, which will trigger alpine to update the rest of the page.
                let results = this.fuse
                    .search(this.searchTerm)
                    .map(res => res.item);

                if (this.categories.length) {
                    if (!this.searchTerm) {
                        // User has selected a category, but not entered a search term.
                        results = data;
                    }
                    results = results.filter(result => this.categories.includes(result['Category']));
                }
                this.lastSearchTerm = this.searchTerm;
                this.results = results;
            },

            submit() {
                // Update our mapped list of categories.
                this.updateCategories();

                // Execute the actual search.
                this.doSearch();

                // check if the search term is empty
                /*
                if (this.searchTerm.trim() === '') {
                    this.showErrorMessage = true;
                } else {
                    this.showErrorMessage = false;
                }
                 */

                // Save the current state to local storage
                this.saveSearchState(this.searchTerm, this.categories);
            },

            clearSearchFilters() {
                this.searchTerm = '';
                this.showErrorMessage = false;
            },
        }));
    });
</script>