<div class="ontario-column ontario-small-12">
    <div x-show="results.length === 0">
        <p>{{ 'seniors.programsAndServicesComponent.noResults' | localeString | safe }}</p>
    </div>

    <div x-show="results.length > 0" class="results-panel">
        <h3>Search Results:</h3>
        <div>
            <br>
            <template x-for="result in results">
                <div>
                    <div>
                        <a style="text-decoration:none; font-size: 24px" x-bind:href="result['Resource URL']">
                            <strong x-text="result['Resource title']"></strong>
                            <a x-if="result['Internal/External'] === 'External'" class="new-window" x-bind:href="result['Resource URL']"></a>
                       </a>
                       <strong x-text="result['Internal/External']"></strong>

                    </div>
                    <div style="font-size:16px" x-html="result['Resource Description']"></div>
                </div>
            </template>
        </div>
    </div> 
</div>
