<div class="ontario-row maincontent__container" x-data="search">
    <div class="ontario-column ontario-small-12">
        <div class="panel">
            <label for="search-text"><h2 id="search-keyword-filter-header" class="medium"><strong>{{ "searchbox.title" | localeString }}</strong></h2></label>
            <input class="ontario-input" id="search-text" type="text" x-model:value="searchTerm" x-bind:placeholder="placeholder" />
            
            <button class="ontario-button ontario-button--primary" x-on:click="doSearch()">{{ "searchbox.search" | localeString }}</button>

            <!-- Clear all button -->
            <button class="ontario-button ontario-button--secondary" x-on:click="clearSearchFilters()">{{ "searchbox.clearAll" | localeString }}</button>
        </div>
    </div>
    <div class="ontario-column ontario-small-12">
        <div x-show="results.length" class="results-panel">
            <h3>Search Results:</h3>
            <ul>
                <template x-for="result in results">
                    <li>
                        <strong x-text="result['Resource title']"></strong><br>
                        <span x-text="result['Resource Description']"></span><br>
                        <a x-bind:href="result['Resource URL']" x-text="result['Resource URL']"></a><br>
                        <span x-text="result['Internal/External']"></span>
                        <span x-text="result['Category']"></span>
                        <span x-text="result['Sub Category']"></span>
                    </li>
                </template>
            </ul>
        </div>
    </div>
</div>


<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('search', () => ({
            searchTerm: '',
            results: [],
            placeholder: '{{ "searchbox.placeholder" | localeString }}',
            doSearch() {
                let data = {{ app.progamsServicesFromCSV.seniorsContent | dump | safe }};
                let options = {
                    keys: ['Resource title', 'Resource Description', 'Resource URL', 'Internal/External', 'Category', 'Sub Category'],
                    includeScore: true
                };
                let fuse = new Fuse(data, options);
                let results = fuse.search(this.searchTerm);
                this.results = results.map(res => res.item);
            },
            clearSearchFilters() {
                this.searchTerm = '';
                this.results = [];
            },
        }));
    });
</script>
