{% set page_lang = "en" %}
{% if lang %}
    {% set page_lang = lang %}
{% endif %}
<div class="ontario-row maincontent__container ontario-padding-top-32-!">
    <div class="ontario-column ontario-small-12">
        <h2>{{ 'seniors.programsAndServicesGuideComponent.title' | localeString }}</h2>
        {{ 'seniors.programsAndServicesGuideComponent.content' | localeString | safe }}
    </div>
</div>
<div class="ontario-row maincontent__container">
    <div class="ontario-column ontario-large-6">
        <ul>
        {% for itemKey, linkItem in app["guide-to-programs-and-services-links"].links %}
            <li><a href="{{ linkItem.url[ page_lang ] }}">{{ linkItem.text[ page_lang ] }}</a></li>
        {% endfor %}
        </ul>
    </div>
    <div class="ontario-column ontario-large-6">
        <img src="{{ globals.siteRoot }}{{ globals.assetsRoot }}/images/information-for-seniors/seniors/guide-to-programs-and-services-for-seniors-544x304.jpg" alt="">
    </div>
</div>
