{% set page_lang = "en" %}
{% if lang %}
    {% set page_lang = lang %}
{% endif %}

<div class="ontario-row maincontent__container ontario-padding-top-48-!">
    <div class="ontario-column ontario-small-12">
        <h2>{{ 'seniors.programsAndServicesComponent.title' | localeString }}</h2>
         <div class="ontario-column ontario-small-12 ontario-medium-5 ontario-large-4">
        {% include "app/searchbox.njk" %}
        </div>
    </div>
</div>

<div class="ontario-row maincontent__container ontario-padding-top-24-!">
    <div class="ontario-column ontario-medium-5 ontario-large-4">
        <div id="filter-progams-and-services" class="ontario-form-group">
            <fieldset class="ontario-fieldset">
                <legend class="ontario-fieldset__legend">{{ 'seniors.programsAndServicesComponent.filter' | localeString | safe }}</legend>
                <div class="ontario-checkboxes">
                    <!-- filters -->
                    {% for tag in app.progamsServicesFromCSV.tags %}
                    {% if tag != '' %}
                    <div class="ontario-checkboxes__item">
                        <input class="ontario-checkboxes__input" id="{{ app.progamsServicesFromCSV.cssTags[tag] }}" name="options" type="checkbox" value="{{ app.progamsServicesFromCSV.cssTags[tag] }}">
                        <label class="ontario-checkboxes__label" for="{{ app.progamsServicesFromCSV.cssTags[tag] }}">{{ tag | safe }}</label>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <!-- / filters -->
                </div>
            </fieldset>
        </div>
    </div>
    <div class="ontario-column ontario-medium-7 ontario-large-8">
        <div id="search-progams-and-services" name="search-progams-and-services" class="show-default-content hide-csv-content">
            <div class="default-content">
                <!-- default content -->
                {{ 'seniors.programsAndServicesComponent.content' | localeString | safe }}
                <h3>{{ 'seniors.programsAndServicesComponent.topResources' | localeString }}</h3>
                <ul>
                {% for resource in topResources %}
                    <li>{{ resource | safe }}</li>
                {% endfor %}
                </ul>
                <!-- / default content -->
            </div>

            <!-- csv output for search input-->
<div class="csv-content" id="csv-content" x-data="search" x-init="doSearch()">
    <div x-show="results.length > 0" class="csv-content-container">
        <div x-for="item in results">
            <h3 x-text="item['Government supports/external']"></h3>
            <p>
                <a :href="item['Resource URL']" x-text="item['Resource title']"></a>
                <br>
                <span x-text="item['Tag 1'] + ', ' + item['Tag 2'] + ', ' + item['Tag 3'] + ', ' + item['Tag 4']"></span>
            </p>
        </div>
    </div>
    <div x-show="results.length === 0">
        <p>{{ 'seniors.programsAndServicesComponent.noResults' | localeString | safe }}</p>
    </div>
</div>
<!-- / csv output for search input-->

            <!-- csv output -->
            <div class="csv-content" id="csv-content">
                {% set firstItem = 'false' %}
                {% for governmentSupports, seniorsContent in app.progamsServicesFromCSV.seniorsContent | sort( attribute='Government supports/external' ).reverse() | groupby( "Government supports/external" ) %}

                {% if governmentSupports.length > 0 and governmentSupports != 'undefined' %}
                <div name="{{ governmentSupports | safe }}" id="{{ governmentSupports | safe }}" class="csv-content-container">
                {% if firstItem == 'false' %}
                    {% set firstItem = 'true' %}
                {% else %}
                <hr>
                {% endif %}

                <h3>{{ governmentSupports | safe }}</h3>
                <div class="no-results">
                    <p>{{ 'seniors.programsAndServicesComponent.noResults' | localeString | safe }}</p>
                </div>

                {% for obj in seniorsContent -%}
                {% if ( obj["Priority"] | lower ) == 'yes' %}

                {% set tags = [] %}
                {% set tags = ( tags.push( obj["Tag 1"] ), tags ) %}

                {% if obj["Tag 2"].length > 0 %}
                {% set tags = ( tags.push( obj["Tag 2"] ), tags ) %}
                {% endif %}

                {% if obj["Tag 3"].length > 0 %}
                {% set tags = ( tags.push( obj["Tag 3"] ), tags ) %}
                {% endif %}

                {% if obj["Tag 4"].length > 0 %}
                {% set tags = ( tags.push( obj["Tag 4"] ), tags ) %}
                {% endif %}
                        
                <div class="filter-item{% for tag in tags %} {{ app.progamsServicesFromCSV.cssTags[ tag | trim ] }}{% endfor %}">
                    <p>
                        <a href="{{ obj["Resource URL"] }}">
                            {%- for key, value in obj -%}
                                {% if loop.index < 2 and value.length > 0 %}
                                    {{ value }}
                                {% endif %}
                            {%- endfor -%}
                        </a>
                        <br>
                        {{ tags | join( ", " ) }}
                    </p>
                </div>

                {% endif %}
                {%- endfor -%}

                {% for obj in seniorsContent -%}
                {% if ( obj["Priority"] | lower ) != 'yes' %}

                {% set tags = [] %}
                {% set tags = ( tags.push( obj["Tag 1"] ), tags ) %}

                {% if obj["Tag 2"].length > 0 %}
                {% set tags = ( tags.push( obj["Tag 2"] ), tags ) %}
                {% endif %}

                {% if obj["Tag 3"].length > 0 %}
                {% set tags = ( tags.push( obj["Tag 3"] ), tags ) %}
                {% endif %}

                {% if obj["Tag 4"].length > 0 %}
                {% set tags = ( tags.push( obj["Tag 4"] ), tags ) %}
                {% endif %}
                        
                <div class="filter-item{% for tag in tags %} {{ app.progamsServicesFromCSV.cssTags[ tag | trim ] }}{% endfor %}">
                    <p>
                        <a href="{{ obj["Resource URL"] }}">
                            {%- for key, value in obj -%}
                                {% if loop.index < 2 and value.length > 0 %}
                                    {{ value }}
                                {% endif %}
                            {%- endfor -%}
                        </a>
                        <br>
                        {{ tags | join( ", " ) }}
                    </p>
                </div>

                {% endif %}
                {%- endfor -%}
                </div>
                {% endif %}
                {%- endfor -%}
            </div>
            <!-- / csv output -->
        </div>
    </div>
</div>
