{% set page_lang = "en" %}
{% if lang %}
    {% set page_lang = lang %}
{% endif %}

<!-- Be sure all bound markup that need to share Alpine data and behaviour are within a single x-data scope -->
<!-- Otherwise, each one will be a new instance of the component, and they won't share their data -->
<!-- In this case, there were multiple `x-data=search` attributes, meaning there were multiple
components with their own independent data -->
<!-- This meant the search data from the search box wasn't being shared with the search results component, and vice-versa -->
<!-- The fix below puts everything in a single scope so they share data  -->


<div x-data="search">

    {# This is the searchbox Adeyemi made #}
    <div class="ontario-row maincontent__container ontario-padding-top-48-!">
        <div class="ontario-column ontario-small-12">
            <div class="ontario-small-12 ontario-medium-5 ontario-large-4">
            {% include "app/_searchbox.njk" %}
            </div>
        </div>
        <div class="ontario-column ontario-padding-top-24-!">
            <hr>
        </div>
    </div>
    
    {# This is the searchbox adeyemi made #}

    <div class="ontario-row maincontent__container ontario-padding-top-24-!">

        {# Text Descriptions: Top Resources, Search for... #}

        <div class="ontario-medium-7 ontario-large-8">
            <div id="search-progams-and-services" name="search-progams-and-services" class="show-default-content hide-csv-content">
                {# CSV Content #}
                <!-- csv output for search input-->
                <div id="csv-content" x-init="doSearch()">
                    {% include "app/_searchresults.njk" %} <!-- Include the search results here -->
                </div>
                <!-- / csv output for search input-->
            </div>
        </div>

        {# <div class="ontario-column ontario-medium-5 ontario-large-4">
            <div id="filter-progams-and-services" class="ontario-form-group">
                <fieldset class="ontario-fieldset">
                    <legend class="ontario-fieldset__legend">{{ 'seniors.programsAndServicesComponent.filter' | localeString | safe }}</legend>
                    <div class="ontario-checkboxes">
                        <!-- filters -->
                        {% for tag in app.progamsServicesFromCSV.tags %}
                        {% if tag != '' %}
                        <div class="ontario-checkboxes__item">
                            <input class="ontario-checkboxes__input" id="{{ tag }}" name="options" type="checkbox" value="{{ tag }}">
                            <label class="ontario-checkboxes__label" for="{{ tag }}">{{ tag | safe }}</label>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <!-- / filters -->
                    </div>
                </fieldset>
            </div>
        </div> #}

        {% include "app/_accordion.njk" %}

    </div>
</div>
