---
layout: app/Information-for-seniors/seniors/layout.njk

ontarioca_breadcrumbs:
  - ["Home and community fr", "https://www.ontario.ca/fr/page/domicile-et-communaute"]
  - ["Seniors fr", "https://www.ontario.ca/fr/node/94771/latest?share=y1lhsHaPP1IdvPZvToXTA49N6dSn1bDtjOkqn7tY9RE"]

lang: fr
en_page_url: "/ministry-seniors-accessibility"
date: 2023-01-30T16:25:36.865Z
published_date: 2023-01-30T16:25:36.865Z

filterCategories:
  - "Domicile et logement"
  - "Santé en bien-être"
  - "Prestation de soins"
  - "Loisirs"
  - "Finances"
  - "Emploi et apprentissage"
  - "Conduite et transport"
---

{% include "app/_back_to_top.njk" %}

