---
layout: app/Information-for-seniors/seniors/layout.njk

ontarioca_breadcrumbs:
  - ["Health and wellness", "https://www.ontario.ca/page/health-care-ontario"]
  - ["Drug coverage", "https://www.ontario.ca/page/get-coverage-prescription-drugs"]

title: "Information for seniors"
description: "Learn about the wide range of programs and services supporting seniors, including how to stay safe, healthy and active."
hero_image:
- "information-for-seniors/seniors/seniors-hero-image-804-540.jpg"
- "alt text for hero image"
hero_color: "purple"
topResources:
- "Access our comprehensive <a href=\"https://www.ontario.ca/document/guide-programs-and-services-seniors\">guide to programs and services for seniors</a>."
- "Learn how to protect yourself and your money from <a href=\"https://www.ontario.ca/document/guide-programs-and-services-seniors/safety-and-security\">common scams and frauds</a>."
- "Get information about available <a href=\"https://www.ontario.ca/document/guide-programs-and-services-seniors/finances#section-0\">tax credits for Ontario seniors</a>."
- "Find social and recreation programs at a <a href=\"https://www.ontario.ca/page/find-seniors-active-living-centre-near-you\">Seniors Active Living Centre near you</a>."

fr_page_url: "/ministere-des-services-aux-aines-et-de-laccessibilite"
date: 2023-01-30T16:25:36.865Z
published_date: 2023-01-30T16:25:36.865Z

filterCategories:
  - "Home and housing"
  - "Health and well-being"
  - "Caregiving"
  - "Recreation"
  - "Safety and security"
  - "Finances"
  - "Employment and learning"
  - "Driving and transportation"
---

{% include "app/_back_to_top.njk" %}

