---
layout: app/Information-for-seniors/seniors/layout.njk
title: "Boîte à outils Jamstack Ontario.ca"
lang: fr
en_page_url: "/ministry-seniors-accessibility"
date: 2023-01-30T16:25:36.865Z
published_date: 2023-01-30T16:25:36.865Z
---
French Page
