---
layout: app/Information-for-seniors/seniors/layout.njk

title: "Information for seniors"
description: "Learn about the wide range of programs and services supporting seniors, including how to stay safe, healthy and active."
hero_image:
- "information-for-seniors/seniors/seniors-hero-image-804-540.jpg"
- "alt text for hero image"
hero_color: "purple"

fr_page_url: "/ministere-des-services-aux-aines-et-de-laccessibilite"
date: 2023-01-30T16:25:36.865Z
published_date: 2023-01-30T16:25:36.865Z
---

<div class="ontario-row maincontent__container">
    <div class="ontario-column ontario-small-12">
        <hr>
    </div>
    <div class="ontario-column ontario-medium-6">
        <img src="{{ globals.siteRoot }}{{ globals.assetsRoot }}/images/information-for-seniors/seniors/call-the-seniors-INFOline-544x304.jpg" alt="" class="ontario-padding-bottom-24-!">
        <h3>Call the Seniors INFOline</h3>
        <p>Speak to someone Monday to Friday between 8:30am - 5pm</p>
<p>Tel: 1-888-910-1999</p>
<p>TTY: 1-800-387-5559</p>
<p><a href="mailto:infoseniors@ontario.ca">infoseniors@ontario.ca</a></p>
    </div>
    <div class="ontario-column ontario-medium-6">
        <img src="{{ globals.siteRoot }}{{ globals.assetsRoot }}/images/information-for-seniors/seniors/find-programs-and-services-near-you-544x304.jpg" alt="" class="ontario-padding-bottom-24-!">
        <h3>Find programs and services near you</h3>
        <p>Call 211 or go to 211.ca to find community programs and social services in your area.</p>
    </div>
</div>

<div class="ontario-row maincontent__container">
    <div class="ontario-column ontario-small-12">
        <hr>
        <h3>Learn more about helping seniors</h3>
        <ul>
            <li>Find social, cultural, learning and recreational programs for seniors through the <a href="#">Seniors Active Living Centre</a> programs</li>
            <li>Recognize the <a href="#">contributions of seniors</a> in our communities</li>
            <li>Recognize the signs of <a href="#">elder abuse</a> and learn what to do if you or someone you know is being abused.</li>
            <li>Browse the <a href="#">grant programs and seminars</a> for organizations that serve seniors.</li>
            <li>Learn how to create<a href="#">age-friendly communities</a>.</li>
            <li>Learn how the<a href="#">federal, provincial and territorial governments</a>work together on issues and projects related seniors.</li>
            <li>Follow us on <a href="#">Facebook</a>, <a href="#">Twitter</a> and <a href="#">LinkedIn</a>.</li>
        </ul>
    </div>
</div>

<div class="ontario-row maincontent__container">
    <div class="ontario-column ontario-small-12">
        <hr>
        <h3>Contact us</h3>
        <p>Get in touch using our <a href="#">contact form</a> if you have questions or feedback.</p>
    </div>
</div>

<div class="ontario-row maincontent__container">
    <div class="ontario-column ontario-small-12">
        <!-- Did you find what you were looking for? -->
        <div class="ontario-alert ontario-alert--warning">
            <div class="ontario-alert__header">
                <div class="ontario-alert__header-icon">
                    <svg class="ontario-icon" alt="" aria-hidden="true" focusable="false" sol:category="primary" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
                        <use href="#ontario-icon-alert-warning"></use>
                    </svg>
                </div>
                <h2 class="ontario-alert__header-title ontario-h4">Did you find what you were looking for?</h2>
            </div>
            <div class="ontario-alert__body">
                <p>We want this page to be as helpful as possible for you. If you expected to find something here and didn't, let us know!</p>
            </div>
        </div>
        <!-- / Did you find what you were looking for? -->
    </div>
</div>
